{% extends 'base.html.twig' %}

{% block header %}
  <h1>{{ app.user.firstname }} {{ app.user.surname }}’s Files</h1>
{% endblock %}

{% block main %}
  <div id="files" class="content active"></div>
{% endblock %}
