{% extends 'base.html.twig' %}

{% block header %}
  <h1>Activate you Account</h1>
  <p>You must verify your email address in order to activate your account. An email has been sent to {{ email }} with further instructions.</p>
{% endblock %}

{% block main %}
  <p>Account activation pending.</p>
{% endblock %}
