{% extends 'student/_layout.html.twig' %}

{# twigs: tab, course #}

{% block content %}

  {# title #}
  <h3>{{ course.name }}</h3>

  {# tabs #}
  {% set leftTabs = [['lesson', 'Lessons'], ['assignment', 'Assignments']] %}
  {% set rightTabs = [['about', 'About']] %}
  {% include '_includes/blocks/tabs.html.twig' with {'leftTabs': leftTabs, 'rightTabs': rightTabs, 'activeTab': tab} %}

  <div class="forum-tab-panes">

    {# lessons tab #}
    {% embed '_includes/blocks/tab_pane.html.twig' with {'id': 'lesson', 'active': tab == 'lesson'} %}
      {% block content %}
        {% include '_includes/panels/course_lessons.html.twig' with {'course': course} %}
      {% endblock %}
    {% endembed %}

    {# assignments tab #}
    {% embed '_includes/blocks/tab_pane.html.twig' with {'id': 'assignment', 'active': tab == 'assignment'} %}
      {% block content %}
        {% include '_includes/panels/course_assignments.html.twig' with {'course': course} %}
      {% endblock %}
    {% endembed %}

    {# about tab #}
    {% embed '_includes/blocks/tab_pane.html.twig' with {'id': 'about', 'active': tab == 'about'} %}
      {% block content %}
        {% include '_includes/panels/course_details.html.twig' with {'course': course} %}
      {% endblock %}
    {% endembed %}

  </div>

{% endblock %}
