{% extends 'student/_layout.html.twig' %}

{# twigs: tab, createProgramForm #}

{% block content %}

  {# title #}
  <h3>Files</h3>

  {# tabs #}
  {% set leftTabs = [['program', 'Programs']] %}
  {% include '_includes/blocks/tabs.html.twig' with {'leftTabs': leftTabs, 'activeTab': tab} %}

  <div class="forum-tab-panes">

    {# programs tab #}
    {% embed '_includes/blocks/tab_pane.html.twig' with {'id': 'program', 'active': tab == 'program'} %}
      {% block content %}
        {% embed '_includes/blocks/collapsible_panel.html.twig' with {'type': 'create', 'heading': 'Upload a New Program', 'active': not createProgramForm.vars.valid} %}
          {% block content %}
            {% include '_includes/forms/create_file.html.twig' with {'form': createProgramForm} %}
          {% endblock %}
        {% endembed %}
        {% include '_includes/panels/student_programs.html.twig' with {'student': app.user} %}
      {% endblock %}
    {% endembed %}

  </div>

{% endblock %}
