<div class="site-header">
  <ul>
    <li><a class="link-box system" href="{{ path('system_home') }}" title="Turtle System"><span class="show-md">TurtleSystem</span></a></li>
    <li><a class="link-box online" href="{{ path('online_home') }}" title="Turtle Online"><span class="show-md">TurtleOnline</span></a></li>
    <li><a class="link-box forum" href="{{ path('forum_home') }}" title="Turtle Forum"><span class="show-md">TurtleForum</span></a></li>
  </ul>
</div>
