{% extends 'base.html.twig' %}

{% block themeColour %}#159D6B{% endblock %}
{% block title %}Turtle Online{% endblock %}

{% block menu %}
  <li{% if route == 'online_home' or route == 'online_file' %} class="active"{% endif %}><a class="link-box" href="{{ path('online_home') }}">Home</a></li>
  <li{% if route == 'online_help' %} class="active"{% endif %}><a class="link-box" href="{{ path('online_help') }}">Help</a></li>
  <li{% if route == 'online_about' %} class="active"{% endif %}><a class="link-box" href="{{ path('online_about') }}">About</a></li>
{% endblock %}
