@import "../../../common/constants.scss";

.turtle-controls {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background: $blue;

  .turtle-icon-text {
    padding: .6em 1em;

    .icon {}

    .text {
      padding-left: .5em;
    }
  }

  select {
    margin: 0 1em;
  }
}
