.container {
  margin: 0 auto;
}

@media (min-width: $break1) {
  .container {
    max-width: $break1;
    margin-top: 3em;
    margin-bottom: 2em;
    box-shadow: $box-shadow;
  }
}

@media (min-width: $break2) {
  .container {
    max-width: $break2;
    margin-bottom: 3em;
  }
  .columns {
    display: flex;
    margin: 0 -0.5em;
  }
  .column {
    flex: 1;
    margin: 0 .5em;
  }
}
