.content {
  display: none;
  &.active {
    display: block;
  }
}

.directory, .file {
  padding: .5em;
  border: 1px solid $gray;
  margin-bottom: -1px;
}

.directory {}

.file {
  &:hover {
    background: $lightgray;
  }
}
