.main {
  padding: 1em;
  background: #fff;
  min-height: 30rem;
  h1, h2, h3, h4 {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  h1 {
    font-size: 1.75em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.25em;
  }
  h4 {
    font-size: 1.125em;
  }
  p, blockquote {
    text-align: justify;
  }
  p {
    margin: 0 0 1em;
  }
  a {
    color: $blue;
    &:hover {
      text-decoration: underline;
    }
  }
}

.mugshot {
  display: none;
}

.downloads {
  width: 100%;
  border-collapse: collapse;
  margin: 2em 0;
  th, td {
    border: 1px solid $gray;
    padding: .25em .5em;
    text-align: center;
  }
  .button {
    background: $blue;
    color: #fff;
    display: inline-block;
    padding: .25em .5em;
    margin: .25em;
    white-space: nowrap;
    &:hover {
      background: darken($blue, 10%);
      text-decoration: none;
    }
    &:not(:last-child) {
      margin-right: .5em;
    }
    .icon {
      padding-right: .25em;
    }
  }
}

.csac-examples {
  list-style-type: none;
  padding-left: 1em;
  li {
    margin-bottom: .25em;
  }
}

.articles-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: .5em 0;
  padding: 0;
  list-style-type: none;
  li {
    margin: .5em;
  }
  img {
    height: 9em;
    border: 1px solid silver;
  }
}

@media (min-width: $break1) {
  .main {
    padding: 1em 2em;
  }
  .mugshot {
    display: block;
    float: right;
    margin-left: 1em;
    img {
      display: block;
      height: 9em;
    }
  }
}

@media (min-width: $break2) {
  .main {
    padding: 2em 10em;
  }
}
