.online {
  .main {
    padding: 0;
    background: transparent;
  }
  .loading {
    height: 700px;
    border: 4px solid $darkgray-transparent;
    background: #fff;
    font-size: 1.25em;
    padding: 7em 0;
    text-align: center;
  }
  .footer {
    display: none;
  }
}
