{# twigs: leftTabs, rightTabs, activeTab #}

<ul class="forum-tabs">
  {% for tab in leftTabs %}
    <li class="tab{% if tab[0] == 'help' %} help{% endif %}{% if tab[0] == activeTab %} active{% endif %}" data-action="tab" data-target="{{ tab[0] }}Tab">{{ tab[1] }}</li>
  {% endfor %}
  {% if rightTabs is defined %}
    <li class="spacer"></li>
    {% for tab in rightTabs %}
      <li class="tab{% if tab[0] == activeTab %} active{% endif %}" data-action="tab" data-target="{{ tab[0] }}Tab">{{ tab[1] }}</li>
    {% endfor %}
  {% endif %}
</ul>