{% extends 'teacher/_layout.html.twig' %}

{# twigs: tab, file, editFileForm #}

{% block content %}

  {# title #}
  <h3>{{ file.name }}</h3>

  {# tabs #}
  {% set leftTabs = [['help', 'Help'], ['about', 'About']] %}
  {% if file.owner == app.user %}
    {% set rightTabs = [['edit', 'Edit'], ['delete', 'Delete']] %}
  {% else %}
    {% set rightTabs = false %}
  {% endif %}
  {% include '_includes/blocks/tabs.html.twig' with {'leftTabs': leftTabs, 'rightTabs': rightTabs, 'activeTab': tab} %}

  <div class="forum-tab-panes">

    {# help tab #}
    {% embed '_includes/blocks/tab_pane.html.twig' with {'id': 'help', 'active': tab == 'help'} %}
      {% block content %}
        {% include '_includes/text/files.html.twig' %}
        {% include '_includes/text/onedrive.html.twig' %}
      {% endblock %}
    {% endembed %}

    {# about tab #}
    {% embed '_includes/blocks/tab_pane.html.twig' with {'id': 'about', 'active': tab == 'about'} %}
      {% block content %}
        {% include '_includes/panels/file_details.html.twig' with {'file': file} %}
      {% endblock %}
    {% endembed %}

    {% if file.owner == app.user %}
      {# edit tab #}
      {% embed '_includes/blocks/tab_pane.html.twig' with {'id': 'edit', 'active': tab == 'edit'} %}
        {% block content %}
          {% embed '_includes/blocks/panel.html.twig' with {'type': 'edit', 'heading': 'Edit ' ~ file.fullname} %}
            {% block content %}
              {% include '_includes/forms/edit_file.html.twig' with {'form': editFileForm} %}
            {% endblock %}
          {% endembed %}
        {% endblock %}
      {% endembed %}

      {# delete tab #}
      {% embed '_includes/blocks/tab_pane.html.twig' with {'id': 'delete', 'active': tab == 'delete'} %}
        {% block content %}
          {% embed '_includes/blocks/panel.html.twig' with {'type': 'delete', 'heading': 'Delete ' ~ file.fullname} %}
            {% block content %}
              <p>Are you sure you want to delete this file? This action cannot be undone.</p>
              <div class="form">
                <form action="{{ path('teacher_delete_file', {'file': file.id}) }}" method="post">
                  <div class="form-buttons">
                    <button type="submit" class="red-button">Delete</button>
                  </div>
                </form>
              </div>
            {% endblock %}
          {% endembed %}
        {% endblock %}
      {% endembed %}
    {% endif %}

  </div>

{% endblock %}
