{% extends 'teacher/_layout.html.twig' %}

{# twigs: tab #}

{% block content %}

  {# title #}
  <h3>Teacher Area</h3>

  {# tabs #}
  {% set leftTabs = [['help', 'Help'], ['about', 'About']] %}
  {% include '_includes/blocks/tabs.html.twig' with {'leftTabs': leftTabs, 'activeTab': tab} %}

  <div class="forum-tab-panes">

    {# help tab #}
    {% embed '_includes/blocks/tab_pane.html.twig' with {'id': 'help', 'active': tab == 'help'} %}
      {% block content %}
        {% include '_includes/text/overview.html.twig' %}
      {% endblock %}
    {% endembed %}

    {# about tab #}
    {% embed '_includes/blocks/tab_pane.html.twig' with {'id': 'about', 'active': tab == 'about'} %}
      {% block content %}
        <p>Welcome to the Turtle Web Forum. This section of the site is divided into three sections: <a href="{{ path('teacher_courses') }}">Courses</a>, <a href="{{ path('teacher_files') }}">Files</a>, and <a href="{{ path('teacher_students') }}">Students</a>. The first of these is the most important. There you will be able to create and manage your courses, create lessons and upload course materials, set assignments for your students, and view the programs that your students have submitted to those assignments. The other two sections simply provide a convenient place to view your files and students all together, and in the latter case to view all of the submissions from a particular student on one page.</p>
        <p>This Web Forum is designed to be as straightforward and self-explanatory as possible. Should you need, however, there is context relative help available on every page under the 'Help' tab. If anything still doesn't make sense, or if you have any suggestions for how this site could be improved, please <a href="{{ path('system_contact') }}">contact us</a>.</p>
      {% endblock %}
    {% endembed %}

{% endblock %}
