{# twigs: form #}

<div class="form">
  {{ form_start(form) }}
    {{ form_row(form.email) }}
    <div class="form-buttons">
      <button type="button" class="blue-button" data-action="modal" data-target="loginModal">Cancel</button>
      <button type="submit" class="green-button">Email Me</button>
    </div>
  {{ form_end(form) }}
</div>