{# twigs: form #}

<div class="form">
  {{ form_start(form) }}
    <fieldset>
      <div class="form-legend">Course Passcode</div>
      <div class="form-inputs">
      {{ form_row(form.passcode) }}
      </div>
    </fieldset>
    <div class="form-buttons">
      <button type="submit" class="green-button">Join</button>
    </div>
  {{ form_end(form) }}
</div>
