{# twigs: last_username #}

<div class="form">
  <form action="{{ path('security_login') }}" method="post" data-action="login">
    <div class="form-input">
      <label for="username" class="user-icon"></label>
      <input type="text" id="username" name="_username" required="required" placeholder="Username"{% if last_username %} value="{{ last_username }}"{% endif %}>
      <div class="form-input-errors hidden" id="loginError" title="Incorrect username or password"></div>
    </div>
    <div class="form-input">
      <label for="password" class="password-icon"></label>
      <input type="password" id="password" name="_password" required="required" placeholder="Password">
    </div>
    <div class="form-buttons">
      <button type="button" class="blue-button" data-action="modal" data-target="loginModal">Cancel</button>
      <button type="submit" class="green-button">Login</button>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
  </form>
</div>
