@import "../common/constants.scss";

.container {
  margin: 0 auto;

  a {
    color: $blue;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  img {
    max-width: 100%;
  }

  @media (min-width: $break1) {
    max-width: $break1;
    margin-top: 3em;
    margin-bottom: 2em;
    box-shadow: $box-shadow;
  }

  @media (min-width: $break2) {
    max-width: $break2;
    margin-bottom: 3em;

    .columns {
      display: flex;
      margin: 0 -0.5em;
    }

    .column {
      flex: 1;
      margin: 0 .5em;
    }
  }
}
