@import "../../common/constants.scss";

.header {
  padding: 1em;
  background: $darkgray-transparent;
  color: #fff;
  @media (min-width: $break1) {
    margin-top: 3em;
    max-width: $break1;
    padding: 1.5em 2em;
  }
  @media (min-width: $break2) {
    max-width: $break2;
  }
  &.online {
    background: $green;
    padding: .5em 1em;

    h1 {
      font-size: 1em;
      color: #fff;
      font-weight: normal;
      text-align: center;
    }
  }

  h1 {
    font-size: 1.7em;
    margin: 0;
    color: $red;
  }

  p {
    margin: 1rem 0 0;
    text-align: justify;
    font-weight: 500;
    color: $green;
    font-style: italic;
    @media (min-width: $break1) {
      font-size: 1.0625em;
    }
    @media (min-width: $break2) {
      margin: 1.5rem 0 0;
      font-size: 1.125em;
      margin-left: 4rem;
      margin-right: 8rem;
    }
  }
}
