{% extends 'base.html.twig' %}

{% block header %}
  <h1>Turtle System Online</h1>
{% endblock %}

{% block main %}
  <div id="tse" class="tse" data-page="system"{% if app.request.query.get('l') is defined %} data-language="{{ app.request.query.get('l') }}"{% endif %}{% if app.request.query.get('x') is defined %} data-example="{{ app.request.query.get('x') }}"{% endif %}{% if app.request.query.get('f') is defined %} data-file="{{ app.request.query.get('f') }}"{% endif %}>
    <p class="loading">Starting up... <i class="fa fa-spin fa-spinner"></i></p>
  </div>
{% endblock %}
