{% embed '_includes/blocks/panel.html.twig' with {'type': 'help', 'heading': 'Assignments'} %}
  {% block content %}
    <p>Assignments, like lessons, are essentially folders for grouping files. While lessons are primarily intended to house files that you prepare for your students, however, assignments are spaces for your students to upload their programs, for you to assess. You can include your own files in an assignment if you wish (e.g. a document containing instructions, or an example program), just as with lessons. More importantly, however, each of your students can upload one program to each assignment. These programs will then all be available to you under the 'Submissions' tab. You can download them for later, or view them directly in your web browser, using the Online Turtle System on this site.</p>
  {% endblock %}
{% endembed %}
