{% embed '_includes/blocks/panel.html.twig' with {'type': 'help', 'heading': 'Archiving your Old Courses'} %}
  {% block content %}
    <p>When a course is finished, you can change its status from <b>current</b> to <b>archived</b>. Archived courses can still be edited, and in general behave in exactly the same way as current courses. The only difference is that archived courses do not appear in your list of current courses, but in a separate list (under the 'Archived Courses' tab). This is simply a way of placing finished courses out of your way, so that they do not clutter your screen needlessly.</p>
  {% endblock %}
{% endembed %}
