{% embed '_includes/blocks/panel.html.twig' with {'type': 'help', 'heading': 'Creating a New Course'} %}
  {% block content %}
    <p>Use the form in the 'Current Courses' tab to create a new (empty) course. All courses must have a name and a start date. (The start date is used to order your courses chronologically in any lists.) When your course is created, you can also add a description, course materials (Word documents, PowerPoints, example Turtle programs, etc.), and set assignments for your students. Details on how to do this are under the 'Help' tab in the management page for each course&mdash;when your course is created, click on its name in the list of current courses to be taken to the management page for that course.</p>
  {% endblock %}
{% endembed %}
