{% embed '_includes/blocks/panel.html.twig' with {'type': 'help', 'heading': 'Importing a Public Course'} %}
  {% block content %}
    <p>We have prepared several teaching materials for you to use in your own courses, which you are free to adapt as you wish. You may download and edit these, and upload your modified versions, or simply include them as they are directly within your courses. Alternatively, you can import a complete public course with a single click, which creates a new current course for you with all the appropriate structure and linked resources. To do this, use the form in the 'Public Courses' tab. Or feel free to just browse the courses there for anything that might be of use.</p>
  {% endblock %}
{% endembed %}
