{% embed '_includes/blocks/panel.html.twig' with {'type': 'help', 'heading': 'Your Dummy Student Account'} %}
  {% block content %}
    <p>When you created your teacher account, a "dummy" student account was also created for you automatically. This account works exactly like any real student account, except that you cannot edit the personal details associated with the account (which mirror those of your main account). The username for this account is your main username with '.student' at the end (so if your username is 'krabappel', your dummy student account username will be 'krabappel.student'), and the password is the same as for your main account. Using this account, you can sign up to your own courses, and see exactly what your students will see.</p>
  {% endblock %}
{% endembed %}
