{% embed '_includes/blocks/panel.html.twig' with {'type': 'help', 'heading': 'Files'} %}
  {% block content %}
    <p>Your courses can contain files that you have uploaded to this site&mdash;e.g. Word Documents, PowerPoint Presentations, example Turtle programs. Students signed up to one of your courses will have access to these files, arranged into groups of lessions and assignments. To upload a file, you must first create a course with a lesson or assignment. When a file has first been uploaded to a particular lesson or assignment, however, it can then be associated with any number of other lessons or assignments, on any of your courses.</p>
  {% endblock %}
{% endembed %}
