{% embed '_includes/blocks/panel.html.twig' with {'type': 'help', 'heading': 'Lessons and Assignments'} %}
  {% block content %}
    <p>Your course is a collection of folders, which in turn are collections of files (Word documents, PowerPoint presentations, Turtle programs, etc.). There are two types of folders: lessons and assignments. These are identical for all practical purposes, except that your students can also upload one Turtle program to each assignment&mdash;which you can then run in the browser, download, and comment on. Assignment folders are meant for housing your students' submitted programs, but can also include files you have uploaded (e.g. documents containing instructions for the assignment). Lesson folders are meant for grouping all other course materials. This grouping need not correspond to your actual lessons, of course, though that is presumed to be the most natural arrangement.</p>
  {% endblock %}
{% endembed %}
