{% embed '_includes/blocks/panel.html.twig' with {'type': 'help', 'heading': 'Lessons'} %}
  {% block content %}
    <p>Lessons are essentially folders for grouping your course files. You can upload any file you wish to your lessons; these will then all be available to your students within this forum. Note that while files must first be uploaded to a specific folder, they can subsequently be placed inside as many different folders as you like. A file that you have used on one course can thus easily be imported into another; or files of ongoing importance can be added to more than one lesson on the same course.</p>
  {% endblock %}
{% endembed %}
