{% embed '_includes/blocks/panel.html.twig' with {'type': 'help', 'heading': 'Linking to OneDrive or Google Docs'} %}
  {% block content %}
    <p>A copy of any files you wish to make available to your students must be uploaded to our server, and this is the copy that students will be able to download. If you also keep a copy in your Microsoft OneDrive folder, however, or in Google Docs, you can associate a URL link to that copy with any files stored here. With this link added, users will be able to view that copy directly in their web browser. Refer to the OneDrive or Google Docs documentation for how to generate a link to your files. When you have that link, copy and paste it into the "OneDrive/Google Docs link" in the "Edit" tab for your file.</p>
  {% endblock %}
{% endembed %}
