{% embed '_includes/blocks/panel.html.twig' with {'type': 'help', 'heading': 'Overview'} %}
  {% block content %}
    <p>This part of the site is divided into Courses, Files, and Students. The first of these is the most important. This is where you create manage your courses, create lessons and upload course materials, set assignments for your students, and view the programs that your students have uploaded. The other two sections simply provide a convenient place for you to view your files and students (and your students' programs) all together. For more specific information, see the Help tab under the relevant pages.</p>
  {% endblock %}
{% endembed %}
