{% embed '_includes/blocks/panel.html.twig' with {'type': 'help', 'heading': 'Students'} %}
  {% block content %}
    <p>When students sign up to one of your courses, they gain access to any materials you have uplaoded or associated with that course, and the ability to upload their own programs to your assignments. To join a course, students will need its randomly generated passcode, which they will enter into a simple form on this site. Once all of your students are signed up, you can set your course status to <b>closed</b>, preventing any further students from joining (though this is highly unlikely, since they would have to correctly guess the passcode). You can find the passcode for an individual course under the 'Students' tab of the management page for that course; alternatively, a full list of passcodes for your open courses is shown under the 'Course Passcodes' tab in the main Students page.</p>
  {% endblock %}
{% endembed %}
