.header {
  padding: 1em;
  background: $darkgray-transparent;
  color: #fff;
  h1 {
    font-size: 1.7em;
    margin: 0;
    color: $red;
  }
  p {
    margin: 1rem 0 0;
    text-align: justify;
    font-weight: 500;
    color: $green;
    font-style: italic;
  }
}

@media (min-width: $break1) {
  .header {
    margin-top: 3em;
    max-width: $break1;
    padding: 1.5em 2em;
    p {
      font-size: 1.0625em;
    }
  }
}

@media (min-width: $break2) {
  .header {
    max-width: $break2;
    p {
      margin: 1.5rem 0 0;
      font-size: 1.125em;
      margin-left: 4rem;
      margin-right: 8rem;
    }
  }
}
