* {
  box-sizing: border-box;
}

html {
  font-family: $system-font;
  min-width: 320px;
  min-height: 100vh;
}

body {
  margin: 0;
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.5;
  color: $darkgray;
  overflow-y: scroll;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

label {
  display: block;
  padding: .25em .5em;
  cursor: pointer;
  font-weight: bold;
}

input[type="text"], input[type="password"], input[type="email"], select {
  border: 1px solid $gray;
  padding: .25em .5em;
  font: inherit;
}

button {
  padding: .25em 1em;
  background: $blue;
  color: #fff;
  cursor: pointer;
  font: inherit;
  border: 0;
  &:hover {
    background: darken($blue, 10%);
  }
}
