// fonts
$system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// colours
$darkgray: #282828;
$gray: #c0c0c0;
$lightgray: #ebebeb;
$yellow: #eed144;
$orange: #d98436;
$red: #a86765;
$purple: #795a7c;
$blue: #38618a;
$green: #159d6b;
