.downloads {
  width: 100%;
  border-collapse: collapse;
  margin: 2em 0;
  th, td {
    border: 1px solid $gray;
    padding: .25em .5em;
    text-align: center;
  }
  .button {
    @include button($blue);
    padding: .25em .5em;
    margin: .25em;
    white-space: nowrap;
    &:not(:last-child) {
      margin-right: .5em;
    }
    .icon {
      padding-right: .25em;
    }
  }
}
