.content .registration-buttons {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  text-align: center;
  .button {
    display: inline-block;
    padding: 0.75em 1em;
    font-weight: bold;
    font-size: 1.2em;
    height: auto;
    & + .button {
      margin-left: 1em;
    }
  }
}

.download-buttons {
  margin-bottom: 1em;
  .button:nth-child(2) {
    @include button($green);
    margin-left: 1em;
  }
}

.table-button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 0 1em;
  color: #fff;
  &:hover,
  &.active {
    text-decoration: none;
  }
  &[disabled] {
    cursor: not-allowed;
  }
  &:not(:first-child) {
    margin-left: 0.5em;
  }
}

.public-file {
  display: inline-block;
  color: #fff;
  background: $green;
  padding: 0.0625rem 0.25rem;
}

.courseShowHide {
  display: none;
  &.active {
    display: block;
  }
}

// panels
.panel {
  &:not(:last-child) {
    margin-bottom: 1em;
  }
  .panel-heading {
    color: #fff;
    background: $blue;
    padding: 0.5em 1em;
  }
  .panel-body {
    border: 1px solid $blue;
    border-top: 0;
    padding: 1em;
    p:last-child {
      margin-bottom: 0;
    }
  }
}

.panel-collapsible {
  .panel-heading {
    h5 {
      cursor: pointer;
      @include fa-icon-after($fa-caret-down);
    }
  }
  .panel-body {
    display: none;
  }
  &.active {
    .panel-heading {
      h5 {
        @include fa-icon-after($fa-caret-up);
      }
    }
    .panel-body {
      display: block;
    }
  }
}

.panel-create,
.panel-edit,
.panel-add {
  .panel-heading {
    background: $green;
  }
  .panel-body {
    border: 1px solid $green;
    border-top: 0;
  }
}

.panel-delete {
  .panel-heading {
    background: $red;
  }
  .panel-body {
    border: 1px solid $red;
    border-top: 0;
    button[type="submit"] {
      @include button($red);
    }
  }
}

.none {
  background: $red;
  padding: 0.5em 1em;
  color: #fff;
  margin-bottom: 1em;
  &:last-child {
    margin-bottom: 0;
  }
}

.inline-select {
  display: flex;
  margin-bottom: 1em;
  label {
    background: $lightgray;
    border: 0.0625rem solid $gray;
    border-right: 0;
  }
}

// tables
table {
  border-collapse: collapse;
}

.table {
  width: 100%;
  border: 1px solid $system-color;
  margin-bottom: 1em;
  &:last-child {
    margin-bottom: 0;
  }
  th,
  td {
    padding: 0.5em;
    vertical-align: top;
    &:first-child {
      padding-left: 1em;
    }
    &:last-child {
      padding-right: 1em;
    }
  }
  th {
    text-align: left;
    color: #fff;
    background: $system-color;
    a {
      color: #fff;
    }
  }
  td {
    border-top: 1px solid $system-color;
  }
  .nowrap {
    white-space: nowrap;
  }
  .stretch {
    width: 100%;
  }
}

.table-hover {
  tr:hover td {
    background: $lightgray;
  }
}

.details {
  td {
    padding: 0 1em 0.5em 0;
    vertical-align: top;
  }
  td:first-child {
    font-weight: 700;
  }
  tr:last-child td {
    padding-bottom: 0;
  }
}

.success {
  background: $green;
  color: #fff;
  a {
    color: #fff;
    text-decoration: underline;
  }
}

.danger {
  background: $red;
  color: #fff;
  a {
    color: #fff;
    text-decoration: underline;
  }
}

[data-action="href"] {
  cursor: pointer;
}

// buttons
.up,
.down {
  @include button($green);
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 0 1em;
  color: #fff;
  &:hover,
  &.active {
    text-decoration: none;
  }
  &[disabled] {
    cursor: not-allowed;
  }
  &:not(:first-child) {
    margin-left: 0.5em;
  }
  height: auto;
  padding: 0 0.5em;
  &:not(:first-child) {
    margin-left: 0.125em;
  }
}
.up {
  @include fa-icon($fa-caret-up);
}
.down {
  @include fa-icon($fa-caret-down);
}
