.form {
  input:not([type="checkbox"]):not([type="radio"]),
  select,
  textarea,
  label,
  button,
  .form-legend {
    display: block;
    height: 2em;
    padding: 0.25em 0.5em;
  }
  input:not([type="checkbox"]):not([type="radio"]),
  select,
  textarea {
    background: #fff;
    color: $darkgray;
    width: 100%;
    border: 0.0625rem solid $gray;
    &:focus {
      background: lighten($yellow, 30%);
    }
  }
  textarea {
    height: 6.625em;
    width: 100%;
    resize: vertical;
    font-family: $sans-serif;
  }
  label {
    cursor: pointer;
    font-weight: bold;
    white-space: nowrap;
  }
  button {
    @include button;
    &.blue-button {
      @include button($blue);
    }
    &.green-button {
      @include button($green);
    }
    &.red-button {
      @include button($red);
    }
  }
  .form-input {
    display: flex;
    border: 0.0625rem solid $gray;
    margin-bottom: 1em;
    label:not(.checkbox-label):not(.radio-label) {
      flex: 0 1 3em;
      text-align: center;
      background: $lightgray;
      border-right: 0.0625rem solid $gray;
    }
    input:not([type="checkbox"]):not([type="radio"]),
    select,
    textarea {
      flex: 1;
      border: 0;
    }
    .form-input-errors {
      @include fa-icon($fa-exclamation-triangle);
      flex: 0 1 2em;
      cursor: pointer;
      font-weight: bold;
      text-align: center;
      color: $red;
      padding: 0.25em 0.5em;
      background: lighten($red, 30%);
      height: 2em;
    }
    &.has-errors {
      input,
      select,
      textarea {
        background: lighten($red, 30%);
      }
    }
  }
  .form-buttons {
    display: flex;
    justify-content: flex-end;
    button:not(:last-child) {
      margin-right: 1em;
    }
  }
  fieldset {
    padding: 0;
    margin-bottom: 1em;
    .form-legend {
      font-weight: bold;
      background: $lightgray;
      border: 0.0625rem solid $gray;
    }
    .form-inputs {
      display: flex;
      flex-direction: column;
      .form-input {
        flex: 1;
        margin-top: -0.0625rem;
        margin-bottom: 0;
        label:not(.checkbox-label):not(.radio-label) {
          display: none;
        }
      }
      @media (min-width: $screen-md) {
        flex-direction: row;
        .form-input:not(:first-child) {
          border-left: 0;
        }
      }
    }
    .form-help {
      text-align: justify;
      padding: 0.25em 0.5em;
      border: 0.0625rem solid $gray;
      margin-top: -0.0625rem;
    }
  }
}
