.border {
  border: 0.0625rem solid $gray;
}

.hidden,
.show-sm,
.show-md {
  display: none;
}

.button {
  @include button;
}

.blue-button {
  @include button($blue);
}

.green-button {
  @include button($green);
}

.red-button {
  @include button($red);
}

@media(min-width: $screen-sm) {
  span.show-sm {
    display: inline;
  }
  div.show-sm {
    display: block;
  }
}

@media(min-width: $screen-md) {
  span.show-md {
    display: inline;
  }
  div.show-md {
    display: block;
  }
}
