.logos-list,
.articles-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0.5em 0;
  li {
    margin: 0.5em;
  }
}

.logos-list {
  img {
    height: 4em;
  }
}

.articles-list {
  img {
    height: 10em;
    border: 0.0625em solid $gray;
  }
}

.article-subtitle {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.article-date {
    font-style: italic;
    text-align: center;
}

@media (min-width: $screen-md) {
  .logos-list {
    img {
      height: 6em;
    }
  }
}
