.forum-tabs {
  display: flex;
  list-style-type: none;
  li {
    cursor: pointer;
    color: $blue;
    padding: 0.5em 1em;
    border: 1px solid transparent;
    margin-bottom: -1px;
    &:not(:last-child) {
      margin-right: 2px;
    }
    &:hover {
      background: $lightgray;
      border-bottom: 1px solid $gray;
    }
    &.help {
      @include fa-icon-before($fa-life-bouy);
    }
    &.spacer {
      flex: 1;
      cursor: default;
      &:hover {
        background: transparent;
      }
    }
    &.active {
      cursor: default;
      color: $darkgray;
      border: 1px solid $gray;
      border-bottom-color: #fff;
      &:hover {
        background: transparent;
      }
    }
  }
}

.forum-tab-panes {
  padding: 1em;
  border: 1px solid $gray;
  .tab-pane {
    display: none;
    &.active {
      display: block;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}
