.tse {
  width: 1024px;
  height: 700px;
  margin: 0 auto;
  background: $blue;
  border: 4px solid $darkgray;
  color: #fff;
  .tse-loading {
    padding: 5em;
    text-align: center;
  }
}

@media (min-width: 500px) {
  .tse {
    margin: 1em auto 5em !important;
  }
}
