{% extends 'base.html.twig' %}

{% block body %}
  <div id="tse" class="tse" data-page="system">
    <p class="loading">Starting up... <i class="fa fa-spin fa-spinner"></i></p>
  </div>
{% endblock %}
