<div class="modal" id="loginModal">
  <div class="modal-content modal-sm">
    <header class="modal-header red">
      <h5>Login</h5>
    </header>
    <main class="modal-body">
      <ul class="forum-tabs">
        <li class="tab active" data-action="tab" data-target="loginTabPane">Login</li>
        <li class="spacer"></li>
        <li class="tab" data-action="tab" data-target="forgotCredentialsTabPane">Forgot Credentials</li>
      </ul>
      <div class="forum-tab-panes">
        <div class="tab-pane active" id="loginTabPane">
          {{ render(controller('App\\Controller\\SecurityController::login')) }}
        </div>
        <div class="tab-pane" id="forgotCredentialsTabPane">
          <div id="emailCredentialsForm">
            {{ render(controller('App\\Controller\\SecurityController::emailCredentials')) }}
          </div>
          <div class="hidden" id="emailCredentialsSuccess">
            <div class="alert alert-notice active">An email has been sent to your address, with instructions on how to reset your password.</div>
            <div style="text-align:right;">
              <button type="button" class="green-button" style="display:inline-block;" data-action="modal" data-target="loginModal">OK</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
