{% apply spaceless %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="turtle graphics, programming, coding, education, learn to code">
    <meta name="description" content="The Turtle System is a free educational program developed at the University of Oxford, designed to support the new Computer Science component of the National Curriculum.">
    <meta name="theme-color" content="#a86765">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <title>Error</title>
    {{ encore_entry_link_tags('app') }}
  </head>
  <body>
    {% include '_includes/modals/login.html.twig' %}
    <header class="header">
      {% include '_includes/headers/site.html.twig' %}
      <div class="section-header forum">
        <ul>
          <li class="active"><a class="link-box">Oops</a></li>
        </ul>
        {% include '_includes/headers/forum-menu.html.twig' %}
      </div>
    </header>
    <main class="main">
      <div class="container">
        <noscript>
          <div class="alert alert-error active">To use this site, you must first enable JavaScript. To do so, follow these <a href="http://www.enable-javascript.com/" target="_blank" class="alert-link">instructions on how to enable JavaScript in your web browser</a>.</div>
        </noscript>
      </div>
      <div class="container content">
        {% block content %}{% endblock %}
      </div>
    </main>
    {{ encore_entry_script_tags('app') }}
  </body>
</html>
{% endapply %}
