{% extends 'error.html.twig' %}

{% block content %}
  <h1>Error: Page Not Found</h1>
  <p>The page you are looking for could not be found. Please follow the links on this site to reach the pages you want. If you reached this page after following a link on this site, please <a href="{{ path('system_contact') }}">contact us</a> with details.</p>
{% endblock %}
