{% extends 'error.html.twig' %}

{% block content %}
  <h1>Error: Internal Server Error</h1>
  <p>Oops, something went wrong. Please <a href="{{ path('system_contact') }}">contact us</a> with details of what you were doing before you reached this page, and we will attempt to fix the problem.</p>
{% endblock %}
