{# twigs: teacher #}

{% if teacher.openCourses|length > 0 %}
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Start Date</th>
        <th>Passcode</th>
      </tr>
    </thead>
    <tbody>
      {% for course in teacher.openCourses %}
        <tr>
          <td class="nowrap">{{ course.name }}</td>
          <td class="nowrap">{{ course.startDate|date('d/m/Y') }}</td>
          {% if course.status == 'open' %}
            <td><code>{{ course.passcode }}{{ course.id }}</code></td>
          {% else %}
            <td><b>closed</b></td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p class="none">You do not have any open courses.</p>
{% endif %}
