{% extends 'base.html.twig' %}

{% block themeColour %}#A86765{% endblock %}
{% block title %}Turtle Forum{% endblock %}

{% block menu %}
  <li{% if route == 'forum_home' %} class="active"{% endif %}><a class="link-box" href="{{ path('forum_home') }}">Home</a></li>
  <li{% if route == 'forum_teachers' %} class="active"{% endif %}><a class="link-box" href="{{ path('forum_teachers') }}">Teachers</a></li>
  <li{% if route == 'forum_students' %} class="active"{% endif %}><a class="link-box" href="{{ path('forum_students') }}">Students</a></li>
{% endblock %}

{% block main %}
  <div class="container content">
    {% block content %}{% endblock %}
  </div>
{% endblock %}
