{% extends 'forum/_layout.html.twig' %}

{# twigs: resetPasswordForm #}

{% block content %}
  <h3>Reset Password</h3>
  {% include '_includes/forms/reset_password.html.twig' with {'form': resetPasswordForm} %}
{% endblock %}
