{% extends 'forum/_layout.html.twig' %}

{# twigs: createTeacherForm #}

{% block modals %}
  {% include '_includes/modals/privacy_policy.html.twig' %}
{% endblock %}

{% block content %}
  <h1>Sign Up as a Teacher</h1>
  {% include '_includes/forms/create_teacher.html.twig' with {'form': createTeacherForm} %}
{% endblock %}
